/********** 公共变量 **********/

.u-content{ padding:25px 20px;}
//浮动
.fl(){float:left;}
.fr(){float:right;}
.border(){border: 1px solid #eee;}
.clear{clear:both;}
.clearfix{clear: both; zoom:1;}
.clearfix:after{clear:both; display:block; height:0; font-size:0; content:"."; visibility:hidden;}

//水平并排相关
.lineBlockBox(@align:left){display:table; text-align:@align; width:100%; font-size:0; letter-spacing:-3px;  word-spacing:-3px;}
.lineBlock(@align:middle){display:inline-block; *display:inline; *zoom:1; vertical-align:@align; font-size:@12px; letter-spacing:normal; word-spacing:normal;}
.lineBlockBoxs(@align:left){display:table; width:100%; text-align:@align; font-size:0; letter-spacing:-3px;word-spacing:-3px;
  >*{.lineBlock;}
}

//处理超出字符
.strLen(){text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.strLen2(){text-overflow:ellipsis; display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.strLen-other(@number){text-overflow:ellipsis; display:-webkit-box;-webkit-line-clamp:@number;-webkit-box-orient:vertical;overflow:hidden;}
//动画时间
.animate(@time:0.5s;){transition:all @time; -moz-transition:all @time; -o-transition:all @time; -ms-transition:all @time; -webkit-transition:all @time;}

//旋转相关
.rotate(@rotate:180deg){transform:rotate(@rotate); -moz-transform:rotate(@rotate); -ms-transform:rotate(@rotate); -o-transform:rotate(@rotate); -webkit-transform:rotate(@rotate);}

.fade-enter-active, .fade-leave-active {
   transition: all 0.5s ease;
 }
.fade-enter, .fade-leave-to {
  opacity: 0;
}
//表单风格统一样式

//弹框统一样式
.mint-msgbox{ width:75%;border-radius: 10px;
  .mint-msgbox-message{color:#333}
  .mint-msgbox-cancel{ color:#00ccb1}
  .mint-msgbox-confirm{color:#999}
}
//按钮统一风格

//左右内边距 32px
.padding-32px(){padding: 0 0.32rem}

//背景图大小 32px
.bg-32(){ background-size: 0.32rem 0.32rem;width: 0.32rem;height: 0.32rem;}




